@import "../../Styles/variables";
@import "../../Styles/mixins";

.modal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(67 67 67 / 50%)
}

.large-image{
  height: 50%;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;

  @include for-below-600px{
    width: 80%;
    height: 70%;
  }
}